<!DOCTYPE html>
<html>
<head>
    <title>Songs</title>
</head>
<body>

<p><%= dvds.length %> dvds found </p>

<ul>
    <% dvds.forEach(function(dvd) { %>
    <li><%= dvd.title %> (<%= dvd.award %>)</li>
    <% }); %>
</ul>

</body>
</html>